.transaction-contents {
  width: 100vw;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.transaction-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 10vw;
}

.transaction-title-text {
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  font-weight: bold;
  font-size: 22px;
}

/* 購入内容の表示 */
.buy-item-info {
  height: 150px;
  border-bottom: 2px solid #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-item-img {
  margin-right: 20px;
  height: 130px;
  width: 250px;
  object-fit: contain;
}

.buy-item-right-content {
  display: flex;
  flex-direction: column;
}

.buy-item-text {
  font-size: 20px;
}

.buy-item-price {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 10px;
}

.item-price-text {
  font-size: 15px;
}

.item-price-sub-text {
  font-size: 12px;
}
/* /購入内容の表示 */

/* 配送先の表示 */
.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}
/* /配送先の表示 */

/* コメント欄の表示 */
.comment-practice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

/* /コメント欄の表示 */

/* 取引の流れ（コメントの例）の表示 */
.process-comment {
  color: gray;
}

.seller {
  margin: 10px 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.seller-name {
  padding: 10px 15px;
  line-height: 4em;

  background-color: rgb(214, 250, 255);

  border-radius: 18px;
}

.buyer-name {
  padding: 10px 15px;
  line-height: 4em;

  background-color: rgb(255, 214, 214);

  border-radius: 18px;
}
/* /取引の流れ（コメントの例）の表示 */
